<div class="row">
    <div *ngIf="question$ | async as question" class="col-6 offset-3 mt-3">
        <h2 class="my-4 text-center">Update / Create Question</h2>
        <form #questionForm="ngForm">
            <input name="id" type="hidden" [(ngModel)]="question.id">
            <div class="form-group">
                <label>Question</label>
                <input class="form-control" type="text" name="question" [(ngModel)]="question.question"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{9,999})" required>
                <div [hidden]="questionForm.controls.question?.valid || questionForm.controls.question?.pristine"
                    class="error-message">
                    Question must be between 10-1000 characters and must start with a capital letter.
                </div>
            </div>
            <div class="form-group">
                <label>Answer#1</label>
                <input class="form-control" type="text" name="answer1" [(ngModel)]="question.answers[0].content"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{1,99})" required>
                <div [hidden]="questionForm.controls.answer1?.valid || questionForm.controls.answer1?.pristine"
                    class="error-message">
                    Answers must be between 2-100 characters and must start with a capital letter.
                </div>
            </div>
            <div class="form-group">
                <label class="mr-2" for="correct1">Is correct?</label>
                <input class="regular-checkbox" name="correct1" [(ngModel)]="question.answers[0].correct" type="checkbox">
            </div>
            <div class="form-group">
                <label>Answer#2</label>
                <input class="form-control" type="text" name="answer2" [(ngModel)]="question.answers[1].content"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{1,99})" required>
                <div [hidden]="questionForm.controls.answer2?.valid || questionForm.controls.answer2?.pristine"
                    class="error-message">
                    Answers must be between 2-100 characters and must start with a capital letter.
                </div>
            </div>
            <div class="form-group">
                <label class="mr-2" for="correct2">Is correct?</label>
                <input class="regular-checkbox" name="correct2" [(ngModel)]="question.answers[1].correct" type="checkbox">
            </div>
            <div class="form-group">
                <label>Answer#3</label>
                <input class="form-control" type="text" name="answer3" [(ngModel)]="question.answers[2].content"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{1,99})" required>
                <div [hidden]="questionForm.controls.answer3?.valid || questionForm.controls.answer3?.pristine"
                    class="error-message">
                    Answers must be between 2-100 characters and must start with a capital letter.
                </div>
            </div>
            <div class="form-group">
                <label class="mr-2" for="correct3">Is correct?</label>
                <input class="regular-checkbox" name="correct3" [(ngModel)]="question.answers[2].correct" type="checkbox">
            </div>
            <div class="form-group">
                <label>Answer#4</label>
                <input class="form-control" type="text" name="answer4" [(ngModel)]="question.answers[3].content"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{1,99})" required>
                <div [hidden]="questionForm.controls.answer4?.valid || questionForm.controls.answer4?.pristine"
                    class="error-message">
                    Answers must be between 2-100 characters and must start with a capital letter.
                </div>
            </div>
            <div class="form-group">
                <label class="mr-2" for="correct4">Is correct?</label>
                <input class="regular-checkbox" name="correct4" [(ngModel)]="question.answers[3].correct" type="checkbox">
            </div>
            <div class="form-group">
                <label>Points</label>
                <input class="form-control" type="number" name="points" [(ngModel)]="question.points" required>
                <div [hidden]="questionForm.controls.points?.valid || questionForm.controls.points?.pristine"
                    class="error-message">
                    Points must be a number.
                </div>
            </div>

            <button type="submit" [disabled]="questionForm.invalid" class="btn btn-primary btn-block mt-5"
                (click)="onUpdate(question)">
                <i class="fa fa-save"></i>
            </button>
        </form>
    </div>
</div>
