<app-navigation></app-navigation>
<div *ngIf="studentList$ | async as studentList">
    <div class="container selector">
        <h3 class="my-3">Who Takes a Quiz?</h3>
        <select class="custom-select" (change)="onChangeStudent($event)">
            <option selected>Select yourself from the list of students</option>
            <ng-container *ngFor="let student of studentList">
                <option [value]="student.id">{{student.name}}</option>
            </ng-container>
        </select>
        <div class="my-3">Not on the list? Ask your teacher to add you to it.</div>
    </div>
    <div *ngIf="studentSelected">
        <div>
            <h3 class="container mt-2">Welcome, {{studentList[studentID-1].name}}!</h3>
            <div class="container mt-2">
                Your current points: {{studentList[studentID-1].points}}
            </div>
            
        </div>
        <div class="container d-flex">
            <ng-container *ngFor="let quiz of quizList$ | async">
                <ng-container *ngIf="quiz.active">
                    <div class="card quizcard mx-2 my-2">
                        <div class="card-body">
                            <h5 class="card-title">{{quiz.title}}</h5>
                            <p class="card-text">{{quiz.description}}</p>
                            <button class="btn btn-success" (click)="startQuiz(quiz)">Start quiz</button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>